name : Build docker Image #Name of the workflow show in github actions

#When to run this workflow 
on: 
  push:
    branches: [ main ] #When i push the code to the main branch 

#define jobs or tasks to be run 
jobs: 
  build-and-push: 
    runs-on: ubuntu-latest  #use ubuntu linux computer on github actions

    steps: 
      #Setup 1 : download your code from github uses github official action 
      - name: Checkout code 
        uses: actions/checkout@v3 #use a premade action from github marketplace

      #Setup 2 : Login to docker hub
      - name: Login to Docker hub 
        uses: docker/login-action@v2 
        with: 
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      #Setup 3 : build and push docker image 
      - name: Build and Push Docker image
        run : |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/my-cat-website:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/my-cat-website:latest